# Linux
build/

#latex
latex/*
!latex/*.tex
!latex/*.png
!latex/*.md

#doxygen
doxygen/

# Windows
*.dll
*.exe
*.filters
*.user
*.vs
.vscode
Debug/
Release/

# Misc
*.zip
*.temp
*.srctrlprj
*.srctrldb
*.srctrlbm

# Vcpkg
vcpkg_installed/

mc-one-week-challenge/

# personilized files
config.txt

# clang-uml
class_diagram/*
!class_diagram/config_class.svg
!class_diagram/scripts/
!class_diagram/scripts/puml2tikz.py
