# Linux
build/

#latex
latex/*
!latex/*.tex
!latex/*.png

#doxygen
doxygen/

# Windows
*.dll
*.exe
*.filters
*.user
*.vs
.vscode
Debug/
Release/

# Misc
*.zip
*.temp
*.srctrlprj
*.srctrldb
*.srctrlbm

# Vcpkg
vcpkg_installed/

mc-one-week-challenge/

# personilized files
config.txt