# Linux
build/

#latex
latex/*.aux
latex/*.fdb_latexmk
latex/*.fls
latex/*.log
latex/*.pdf
latex/*.synctex.gz
latex/*.toc
latex/*.out
latex/*.loc
latex/*.lof
latex/*.lot
latex/*.thm
latex/_minted-*

#doxygen
doxygen/

# Windows
*.dll
*.exe
*.filters
*.user
*.vs
.vscode
Debug/
Release/

# Misc
*.zip
*.temp
*.srctrlprj
*.srctrldb
*.srctrlbm

# Vcpkg
vcpkg_installed/

mc-one-week-challenge/

# personilized files
config.txt